.content {
    display: flex;
    width: 1400px;
    margin: 0 auto;
}

.inc {
    width: 60px;
    height: 30px;
    margin-top: 10px;
    background-color: dodgerblue;
    border-radius: 5px;
    margin-right:5px ;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.inc:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.inc:hover {
    transform: scale(0.9);
}


.btnStartValue:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.btnStartValue:hover {
    transform: scale(0.9);
}






