body{
    background-color: grey;
}
.block-navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue
}
a{
    text-decoration: none;
}

.navLink{
    margin-right: 10px;
    color: white;
}
.navLink:hover{
    transform: scale(1.1);
}
.navLink:last-child{
    margin-right: 0;
}